<ion-view title="Captura de datos" hide-back-button="false"  hide-nav-bar ='false'>



        <ion-content class="padding-top">
			<div class="card">
				<div class="item item-text-wrap">
				<a href="#" class="item item-icon-left">
				<i class="icon ion-android-folder-open"></i>
				Ingreso Animal
				</a>
				</div>

				<div class="item item-text-wrap">
				<a href="#/home/capturaDeDatos/mortalidad" class="item item-icon-left">
				<i class="icon ion-android-folder-open"></i>
				Mortalidad
				</a>
				</div>

				<div class="item item-text-wrap">
				<a href="#" class="item item-icon-left">
				<i class="icon ion-android-folder-open"></i>
				Salida Placebo
				</a>
				</div>

				<div class="item item-text-wrap">
				<a href="#/home/capturaDeDatos/transladoAlimento" class="item item-icon-left">
				<i class="icon ion-android-folder-open"></i>
				Traslado de Alimentos
				</a>
				</div>
			

				<div class="item item-text-wrap">
				<a href="#" class="item item-icon-left">
				<i class="icon ion-android-folder-open"></i>
				Tratamiento
				</a>
				</div>
				

				<div class="item item-text-wrap">
				<a href="#/home/capturaDeDatos/medicamentos" class="item item-icon-left">
				<i class="icon ion-android-folder-open"></i>
				Medicamentos
				</a>
				</div>
					

				<div class="item item-text-wrap">
				<a href="#/home/capturaDeDatos/patologias" class="item item-icon-left">
				<i class="icon ion-android-folder-open"></i>
				Patologias
				</a>
				</div>
					

				<div class="item item-text-wrap">
				<a href="#/home/capturaDeDatos/fabricasDeAlimentos" class="item item-icon-left">
				<i class="icon ion-android-folder-open"></i>
				Fabrica de Alimentos
				</a>
				</div>

			</div>	

        </ion-content>
</ion-view>