<ion-view title="Compra Insumos">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list" ng-submit='compraInsumos(insumo)'>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Fecha</span>
                    <input type="text" placeholder="" ng-model="insumo.fecha" required>
                </label>
                <label class="item item-select">
                    <span class="input-label">Seleccionar Granja</span>
                     <select ng-model="insumo.granja"  >
                           <option 
                               ng-repeat="g in granjasUser" 
                               value="{{g}}"

                           >
                               {{g}}
                           </option>
                     </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Pruducto</span>
                    <input type="text" placeholder="" ng-model="insumo.producto" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Cantidad</span>
                    <input type="number" placeholder="" ng-model="insumo.cantidad" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Valor</span>
                    <input type="text" placeholder="" ng-model="insumo.valor" required>
                </label>
            </ion-list>
            <div class="button-bar">
                <button class="button button-positive button-block " type='submit'>Guardar</button>
                <button class="button button-stable button-block ">Borrar</button>
            </div>
        </form>
    </ion-content>
</ion-view>