<ion-view title="Compra Alimento">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Fecha</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-select">
                    <span class="input-label">Seleccionar Grnja</span>
                    <select></select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Referencia</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Cantidad</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Lote de fabricación</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Valor Alimentos</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Valor total</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <ion-toggle toggle-class="toggle-positive">Medicado</ion-toggle>
        </form>
        <div class="button-bar">
            <button class="button button-positive button-block ">Guardar</button>
            <button class="button button-stable button-block ">Borrar</button>
        </div>
    </ion-content>
</ion-view>