<ion-view title="Fabricas de alimentos">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list" ng-submit='cdFabricaAlimentos(fabrica)'>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Nombre de la fabrica</span>
                    <input type="text" placeholder="" ng-model="fabrica.nombre" required>
                </label>
            </ion-list>
            <ion-toggle toggle-class="toggle-positive"  ng-model="fabrica.activo">Activo</ion-toggle>
            <button type="submit"class="button button-positive button-block ">Guardar</button>
        </form>
    </ion-content>
</ion-view>