<ion-view title="Galpones">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-select">
                    <span class="input-label">Seleccionar Granja</span>
                    <select></select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Nombre/Nª Galpon</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button class="button button-positive button-block ">Guardar</button>
        </form>
    </ion-content>
</ion-view>