<ion-view title="Granjas" hide-back-button="false"  hide-nav-bar ='false'>

<ion-content class="padding-top">
			<div class="card">
				<div class="item item-text-wrap">
				 <a href="#/home/granjas/ingresoDeGranjas" class="item item-icon-left">
				    <i class="icon ion-home"></i>
				    Granjas
				  </a>
				</div>

				<div class="item item-text-wrap">
				  <a  href="#/home/granjas/galpones" class="item item-icon-left">
				    <i class="icon ion-home"></i>
				    Galpon
				  </a>
				</div>

				<div class="item item-text-wrap">
				  <a href="#/home/granjas/corrales" class="item item-icon-left">
				    <i class="icon ion-home"></i>
				    Corral
				  </a>
				</div>

				<div class="item item-text-wrap">
				  <a href="#/home/granjas/inmunocastracion" class="item item-icon-left">
				    <i class="icon ion-home"></i>
				   Inmunocastracion
				  </a>
				</div>
				</div>	
        
        </ion-content>
        </ion-view>
