<ion-view title=" Inmunocastracion">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list"  ng-submit='agregarInmunocastracion(inmunocastracion)'>
            <ion-list>
                <label class="item item-select">
                    <span class="input-label">Seleccionar Granja</span>
                    <select ng-model="inmunocastracion.granja">
                           <option 
                               ng-repeat="g in granjasUser" 
                               value="{{g}}"
                           >
                               {{g}}
                           </option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Primera Dosis</span>
                    <input type="date" placeholder="" ng-model="inmunocastracion.primera">
                </label>
                <label class="item item-input">
                    <span class="input-label">2da Dosis</span>
                    <input type="date" placeholder="" ng-model="inmunocastracion.segunda">
                </label>
                <label class="item item-input">
                    <span class="input-label">3ra Dosis</span>
                    <input type="date" placeholder="" ng-model="inmunocastracion.tercera">
                </label>
                <label class="item item-input">
                    <span class="input-label">Rastro</span>
                    <input type="text" placeholder="" ng-model="inmunocastracion.rastro">
                </label>
                <label class="item item-input">
                    <span class="input-label">Periodo de venta</span>
                    <input type="text" placeholder="" ng-model="inmunocastracion.pDeVenta">
                </label>
            </ion-list>

                    <div class="button-bar">
            <button type="submit" class="button button-positive button-block ">Guardar</button>
            <button class="button button-stable button-block ">Borrar</button>
                 </div>
        </form>

        
    </ion-content>
</ion-view>