<ion-view title=" Inmunocastracion">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-select">
                    <span class="input-label">Seleccionar Granja</span>
                    <select></select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Primera Dosis</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">2da Dosis</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">3ra Dosis</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Rastro</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Periodo de venta</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
        </form>
        <div class="button-bar">
            <button class="button button-positive button-block ">Guardar</button>
            <button class="button button-stable button-block ">Borrar</button>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>