<ion-view title="Inventario e Insumos" hide-back-button="false"  hide-nav-bar ='false'>



        <ion-content class="padding-top">
			<div class="card">
				<div class="item item-text-wrap">
				<a href="#/home/inventarioInsumos/compraAlimento" class="item item-icon-left">
				<i class="icon ion-android-cart"></i>
				Compra de Alimento
				</a>
				</div>

				<div class="item item-text-wrap">
				<a href="#/home/inventarioInsumos/compraMedicamentos" class="item item-icon-left">
				<i class="icon ion-android-cart"></i>
				Compra de Medicamentos
				</a>
				</div>

				<div class="item item-text-wrap">
				<a href="#/home/inventarioInsumos/compraInsumos" class="item item-icon-left">
				<i class="icon ion-android-cart"></i>
				Compra de insumos
				</a>
				</div>
				<br>	
				<div class="item item-text-wrap">
				<a href="#/home/inventarioInsumos/pedidoMedicamento" class="item item-icon-left">
				<i class="icon ion-android-done"></i>
				Pedidos de medicamentos
				</a>
				</div>
			

				<div class="item item-text-wrap">
				<a href="#" class="item item-icon-left">
				<i class="icon ion-android-done"></i>
				Pedidos de Alimentos
				</a>
				</div>
				

				<div class="item item-text-wrap">
				<a href="#" class="item item-icon-left">
				<i class="icon ion-android-done"></i>
				Pedidos de Insumos
				</a>
				</div>
					<br>

				<div class="item item-text-wrap">
				<a href="#/home/inventarioInsumos/consumoDeFarmacos" class="item item-icon-left">
				<i class="icon ion-ios-pulse-strong"></i>
				Consumo de Farmacos
				</a>
				</div>
					

				<div class="item item-text-wrap">
				<a href="#" class="item item-icon-left">
				<i class="icon ion-ios-pulse-strong"></i>
				Consumo de Alimentos
				</a>
				</div>

				<div class="item item-text-wrap">
				<a href="#/home/inventarioInsumos/consumoDeInsumos" class="item item-icon-left">
				<i class="icon ion-ios-pulse-strong"></i>
				Consumo de Insumos
				</a>
				</div>


			</div>	

        </ion-content>
</ion-view>